<tr class="info text-center" data-id='<%=contact.id%>'>
  <td><p data-class="contact-name"><%= link_to contact.display_full_name, contact_path(contact) %></p>
  <p data-class="contact-number"><%= contact.number %></p></td>
</tr>
