<div class="form-group">
  <input class="form-control" data-class="search-input" id="focusedInput" placeholder="Type Alphanumeric Character to search" type="text" data-url= <%= contacts_path %> >
</div>

<div class="digit-buttons-container">
  <div class="btn-group btn-group-justified">
    <a href="#" class="btn btn-default" data-class="input-buttons">
      <span class="digit" data-value="1">1<span>
      <p class="text-primary"></p>
    </a>
    <a href="#" class="btn btn-default" data-class="input-buttons">
      <span class="digit" data-value="2">2</span>
      <p class="text-primary">ABC</p>
    </a>
    <a href="#" class="btn btn-default" data-class="input-buttons">
      <span class="digit" data-value="3">3</span>
      <p class="text-primary">DEF</p>
    </a>
  </div>
  <div class="btn-group btn-group-justified">
    <a href="#" class="btn btn-default" data-class="input-buttons">
      <span class="digit" data-value="4">4</span>
      <p class="text-primary">GHI</p>
    </a>
    <a href="#" class="btn btn-default" data-class="input-buttons">
      <span class="digit" data-value="5">5</span>
      <p class="text-primary">JKL</p>
    </a>
    <a href="#" class="btn btn-default" data-class="input-buttons">
      <span class="digit" data-value="5">6</span>
      <p class="text-primary">MNO</p>
    </a>
  </div>
  <div class="btn-group btn-group-justified">
    <a href="#" class="btn btn-default" data-class="input-buttons">
      <span class="digit" data-value="7">7</span>
      <p class="text-primary">PQRS</p>
    </a>
    <a href="#" class="btn btn-default" data-class="input-buttons">
      <span class="digit" data-value="8">8</span>
      <p class="text-primary">TUV</p>
    </a>
    <a href="#" class="btn btn-default" data-class="input-buttons">
      <span class="digit" data-value="9">9</span>
      <p class="text-primary">WXYZ</p>
    </a>
  </div>
  <div class="btn-group btn-group-justified">
    <a href="#" class="btn btn-default" data-class="input-buttons">
      <span class="digit" data-value="*">*</span>
      <p class="text-primary"></p>
    </a>
    <a href="#" class="btn btn-default" data-class="input-buttons">
      <span class="digit" data-value="0">0</span>
      <p class="text-primary">+</p>
    </a>
    <a href="#" class="btn btn-default" data-class="input-buttons">
      <span class="digit" data-value="#">#</span>
      <p class="text-primary"></p>
    </a>
  </div>
</div>
