<% if @contacts.present? %>
  <div class="container">
    <table class="table table-striped table-hover col-md-8">
      <thead>
      </thead>
      <tbody data-class="contacts-container">
        <%= render @contacts %>
      </tbody>
    </table>
    <!-- dummy contact container  -->
    <table data-class="dummy-contacts-container">
      <tr class="info text-center hidden" data-class="dummy-row">
        <td><p data-class="contact-name"><a href="#"></a></p>
        <p data-class="contact-number"></p></td>
      </tr>
    </table>
  </div>
<% end %>

<div class="container">
  <%= render partial: 'search_form' %>
</div>
<br>
<div class="text-center">
<%= link_to 'New Contact', new_contact_path, class: 'btn btn-primary'%>
</div>
