<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @contact.number %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %> |
<%= link_to 'Delete', contact_path(@contact), method: :delete, data: { confirm: t(:confirm_delete) } %>
